<%= form_with(model: [@parking, entry_point]) do |form| %>
  <% if entry_point.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry_point.errors.count, "error") %> prohibited this entry_point from being saved:</h2>

      <ul>
        <% entry_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
