<%= form_with(model: [@parking, ticket]) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :entry_point_id, "Select Entry Point", style: "display: block" %>
    <%= form.select :entry_point_id, options_from_collection_for_select(@parking.entry_points, :id, :number) %>
  </div>

  <div>
    <%= form.label :spot_id, "Select Entry Point", style: "display: block" %>
    <%= form.select :spot_id, options_from_collection_for_select(@parking.spots, :id, :number) %>
  </div>

  <div>
    <%= form.fields_for :car do |cf| %>
      <div>
        <%= cf.label :registration_number, style: "display: block" %>
        <%= cf.text_field :registration_number %>
      </div>
      <div>
        <%= cf.label :color, style: "display: block" %>
        <%= cf.text_field :color %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
