<p style="color: green"><%= notice %></p>

<%= render @parking %>

<div>
  <%= link_to "Edit this parking", edit_parking_path(@parking) %> |
  <%= link_to "Add Entry Point", new_parking_entry_point_path(@parking) %> |
  <%= link_to "Add Spot", new_parking_spot_path(@parking) %> |
  <%= link_to "Back to parkings", parkings_path %>
</div>

<hr>

<div>
  <% if @parking.entry_points.present? %>
    <p>Entry Points</p>
    <ul>
      <% @parking.entry_points.each do |entry_point| %>
        <li>
          <%= entry_point.number %> |
          <%= link_to "edit", edit_parking_entry_point_path(@parking, entry_point) %>
        </li>
      <% end %>
    </ul>
  <% else %>
  <p style="color: red;">Please add atleast one entry point.</p>
  <% end %>
</div>

<hr>

<div>
  <%= link_to "Add Spot", new_parking_spot_path(@parking) %>
  <% if @parking.spots.present? %>
    <p>Spots</p>
    <ul>
      <% @parking.spots.each do |spot| %>
        <li>
          <%= spot.number %> |
          <%= link_to "edit", edit_parking_spot_path(@parking, spot) %>
        </li>
      <% end %>
    </ul>
  <% else %>
  <p style="color: red;">Please add parking spot here.</p>
  <% end %>
</div>

<hr>
<p><%= button_to "Destroy this parking lot", @parking, method: :delete %></p>
