<p style="color: green"><%= notice %></p>

<%= render @parking %>

<div>
  <%= link_to "Edit this parking", edit_parking_path(@parking) %> |
  <%= link_to "Back to parkings", parkings_path %>

  <%= button_to "Destroy this parking", @parking, method: :delete %>
</div>
